/* Мой reset START*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    display: inline-block;

}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
}

/* Мой reset END */


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.rotate180{
    &::before{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

}